@import url("https://fonts.googleapis.com/css2?family=Fredoka&Poppins&family=Sixtyfour&display=swap");

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px "Sixtyfour", sans-serif;
  overflow: hidden;
}

body {
  position: relative;
  width: 100vw;
  background: linear-gradient(#d8d6d6, #90d6e8, #8f96e9, #ec8f92);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Header */

.header-container {
  box-shadow: 0 0 1rem rgba(205, 150, 150, 10);
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  height: 10vh;
}

.company-name {
  display: flex;
  align-items: center;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  padding: 1rem;
}

/* Main content */
main {
  height: 80vh;
}

#container3D {
  cursor: pointer;
  position: absolute;
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container3D canvas {
  width: 100% !important;
  height: 100% !important;
}

.desc-container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  top: 18%;
  left: 12%;
}

.specs-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 60%;
  left: 65%;
}

.spec-item {
  margin: 0 0 1rem 2rem;
}

.spec-item > span {
  font-weight: bold;
}

.desc-heading,
.specs-heading {
  cursor: pointer;
  font-size: 2.7rem;
  z-index: 10;
}

.cybertruck-desc,
.cybertruck-specs {
  font-size: 1.8rem;
}


.details-content {
  font-family: "Fredoka";
  font-size: 1.7rem;
  width: 27rem;
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 10vh;
}

.link-container {
  padding: 2.5rem;
}

/* Media queries */

@media (max-width: 1950px) {
  .header-container {
    font-size: 1.4rem;
    padding: 2rem;
  }

  .desc-heading,
  .specs-heading {
    font-size: 2rem;
  }

  .footer-container,
  .details-content {
    font-size: 1.4rem;
  }
}

@media (max-width: 1650px) {
  .header-container {
    font-size: 1.2rem;
    padding: 1.7rem;
  }

  .desc-heading,
  .specs-heading {
    font-size: 1.7rem;
  }

  .footer-container {
    font-size: 1.2rem;
  }
  .details-content {
    font-size: 1.2rem;
    width: 23rem;
  }
}

@media (max-width: 1450px) {
  .header-container {
    font-size: 1rem;
    padding: 1.5rem;
  }

  .desc-heading,
  .specs-heading {
    font-size: 1.4rem;
  }

  .footer-container {
    font-size: 1rem;
  }
  .details-content {
    font-size: 1rem;
    width: 20rem;
  }
}

@media (max-width: 1050px) {
  .desc-container {
    top: 22%;
    left: 18%;
  }

  .specs-container {
    left: 55%;
  }

  .desc-heading,
  .specs-heading {
    font-size: 1.2rem;
  }

  .footer-container {
    font-size: 1rem;
  }
  .details-content {
    font-size: 1rem;
    width: 20rem;
  }
}

@media (max-width: 700px) {
  .header-container {
    font-size: 0.8rem;
    padding: 1rem;
  }

  .desc-container {
    top: 18%;
  }

  .desc-container,
  .specs-container {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .desc-heading,
  .specs-heading {
    font-size: 1rem;
  }

  .spec-item {
    margin: 0 0 0.5rem 0;
  }

}

@media (max-width: 550px) {

  .header-container {
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
  }
  
  .navigation-container {
    flex-direction: column;
  };

  .navigation-item {
    padding: 0.5rem;
  }

  .desc-container {
    top: 20%;
  }
}


@media (max-width: 375px) {
  .desc-container {
    top: 15%;
  }
}
